{% extends "accounts/base.html" %}
{% block main %}

<h3>Register</h3>
<form action="" method="post">
    {% csrf_token %}
    
    <label for="username">Username</label><br>
    <input type="text" placeholder="Enter your username" name="username" required><br><br>
    
    <label for="email">Email</label><br>
    <input type="email" placeholder="Enter your email" name="email" required><br><br>
    
    <label for="password1">Password</label><br>
    <input type="password" placeholder="Enter your password" name="password1" required><br><br>
    
    <label for="password2">Confirm password</label><br>
    <input type="password" placeholder="Confirm password" name="password2" required><br><br>
    
    <label for="phone">Phone Number</label><br>
    <input type="text" placeholder="Enter your phone" name="phone" required><br><br>
    
    <label for="age">Age</label><br>
    <input type="number" placeholder="Enter your age" name="age" required><br><br>

    <p>
        <label for="role">Who are you?</label><br>
        <select name="role" id="role" required style="padding: 10px; width: 100%;">
            <option value="passenger">🙋‍♂️ I am a Passenger</option>
            <option value="driver">🚗 I am a Driver</option>
        </select>
    </p>
    
    <button type="submit">Register</button>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</form>

{% endblock %}