{% extends "accounts/base.html" %}
{% block main %}

<div class="trip-container">

    <div class="step-card">

        <h3 class="step-title">Edit Trip</h3>

        <form method="post" class="form-box" enctype="multipart/form-data">
            {% csrf_token %}

            <label class="label">Car</label>
            <select name="car_id" class="input">
                {% for car in user_cars %}
                    <option value="{{ car.id }}"
                        {% if car.id == trip.car.id %}selected{% endif %}>
                        {{ car.car_name }} ({{ car.car_number }})
                    </option>
                {% endfor %}
            </select>

            <label class="label">Photo</label>

{% if trip.car.photo %}
    <img src="{{ trip.car.photo.url }}"
         width="200"
         alt="Car Photo">
{% endif %}

<input type="file" name="photo" class="input">

            <label class="label">From</label>
            <input type="text" name="from_city"
                   value="{{ trip.from_city }}"
                   class="input" required>

            <label class="label">To</label>
            <input type="text" name="to_city"
                   value="{{ trip.to_city }}"
                   class="input" required>

            <label class="label">Departure Time</label>
            <input type="datetime-local"
                   name="departure_time"
                   value="{{ trip.departure_time|date:'Y-m-d\\TH:i' }}"
                   class="input" required>

            <label class="label">Price</label>
            <input type="number"
                   name="price"
                   value="{{ trip.price }}"
                   class="input" required>

            <label class="label">Free Seats</label>
            <input type="number"
                   name="free_seats"
                   value="{{ trip.free_seats }}"
                   class="input" required>

            <button type="submit" class="btn primary full">
                Save Changes
            </button>

            <a href="{% url 'trip_list' %}" class="btn cancel full">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}